# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml

# Android
android/.gradle/
android/local.properties
android/.kotlin/
android/app/src/main/java/io/flutter/plugins/

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS / IDE
.DS_Store
.idea/
.vscode/
devtools_options.yaml

# Secrets & Environment Keys
lib/core/constants/api_keys.dart
.env
.env.*
!.env.example
