<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482970667835-vht8l6snubsj8fb1c0vbvk1mao31iimr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482970667835-vht8l6snubsj8fb1c0vbvk1mao31iimr</string>
	<key>API_KEY</key>
	<string>AIzaSyClr7Q4CJpxaKI5OJEu2CRwop-Z5v-tO8s</string>
	<key>GCM_SENDER_ID</key>
	<string>482970667835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.sannidhi</string>
	<key>PROJECT_ID</key>
	<string>sannidhi-79ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>sannidhi-79ea7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482970667835:ios:848ab0122c4fdb43a2851e</string>
</dict>
</plist>